# ===== System/User files we don't want in the repo =====
.cache/
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
*.sqlite
*.db
*.json

.bashrc
.bash_logout
.bash_history
.profile
.gitconfig

# ===== Rule: ignore everything by default =====
/*

# ===== But keep these project folders and files =====
!Housing Price Predictor/
!FruitClassifier/
!Project_1/
!README.md
!.gitignore
