# ===== System/User files we don't want in the repo =====
.cache/
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
*.sqlite
*.db
*.json
token.txt
.git-credentials
.bashrc
.bash_logout
.bash_history
.profile
.gitconfig
.lesshst
Project_2/random_forest_model.pkl
Project_5/Cursive-20251028T034215Z-1-001.zip
Project_5/Cursive
Project_5/data
Project_5/file_inventory.csv
